<!-- app/templates/auth/login.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<br>
<div class="container">
    <div class="container">
        {{ utils.flashed_messages() }}
        <div class="jumbotron jumbotron-fluid bg-dark text-white">
          <div class="container">
            <div class="offset-2 col-6 ">
              <h1> Iniciar Sesion</h1>
              <hr class="my-2">
      
              {{ wtf.quick_form(form) }}
      
            </div>
          </div>
        </div>
      </div>
  <br/>
 
  
</div>
{% endblock %}