{% extends 'base.html' %}
{% block title %}
    Administrador Dashboard    
{% endblock  %} 
{% block body %}
<br><div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Dashboard del Administrador</h1>
            <p class="lead">Jumbo helper text</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Jumbo action name</a>
            </p>
        </div>
    </div>
    </div>
{% endblock  %}
    