{% import "bootstrap/utils.html" as utils %}
{% extends 'base.html' %}
{% block blockname %}
    Lista de Eventos
{% endblock blockname %}

{% block body %}
    <div class="container text-center">
        <div class="outer">
        <div class="middle">
            <div class="inner">
                <br/>
                {{ utils.flashed_messages() }}
                <br/>
                <h1 style="text-align:center;">Listado de Eventos</h1>
                {% if eventos %}
                    <hr class="intro-divider">
                    <div class="center">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th width="20%"> # </th>
                                    <th width="20%"> Evento </th>
                                    <th width="20%"> Hora </th>
                                    <th width="15%"> Ver Imagen</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evento in eventos %}
                                    <tr>

                                        <td> 
                                            {{ evento.id }}
                                        </td>
                                    
                                        <td>
                                            {{ evento.evento }} 
                                        </td>
                                        <td>
                                            {{ evento.hora }} 
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                                Ver
                                            </button>
                                        </td>
                                        
                                    </tr>
                            {% endfor %}
                                </tbody>
                        </table>
                    </div>
                
                {% else %}
                    <hr class="intro-divider">
                    <div style="text-align: center">
                        <h3> No hay Eventos!!! </h3>
                       
                    </div>
                {% endif %}
               
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              Modal body..
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>
      
{% endblock  %}