{% extends 'base.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1 style="font-size: 4vh;">Camaras de Vigilacia: {{ title }}</h1>
    <!-- <p class="lead">Jumbo helper text</p> -->
    <hr class="my-2">
    <!-- <p>More info</p> -->
    <br>
    <div class="row justify-content-center align-items-center minh-100">
        <div class="col-sm-6  mb-3">
           
            <img src="{{ link}}" class="img-fluid shadow-lg" alt="" id="video" >

        </div>

    </div>
    
</div>
<script>    

    $(document).ready(function(){
        $("#video").on("error",function () {
        alert("123123");
      });
        $("#video").on("error",function () {
        alert("asdad");
      });
    } );
    

</script>
{% endblock  %}
