{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}
    {% if crar_role %}
        Crear Usuario
    {% else %}
        Editar Usuario
    {% endif %}
{% endblock %}
{% block body %}
<br>
  {{ utils.flashed_messages() }}
<br/>
<div class="container-md">
  <div class="jumbotron jumbotron-fluid">
    <div class="container pl-sm-5 pr-sm-5">
            {% if crear_usuario %}
              <h1 class="display-4">Crear Usuario</h1>
            {% else %}
              <h1 class="display-4">Editar Usuario</h1>
            {% endif %}

      
      <hr class="my-2">
      <div class="offset-sm-1 col-sm-7">
        {{ wtf.quick_form(form) }}
      </div>
    </div>
  </div>
 
</div>
{% endblock %}